    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Square+Peg&display=swap');
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Vazir', sans-serif;
    }
    
     :root {
        --primaryColor: #4A148C;
        --mainWhite: #fff;
        --mainBlack: #000;
        --mainGreen: #f8faf9;
        --mainBlue: #f8f9fb;
        --mainGray: #7d7d7d;
    }
    
    header {
        position: fixed;
        z-index: 20;
        top: 0;
    }
    
    .logo {
        font-size: 1.9em;
        font-weight: 500;
        font-family: Open Sans;
    }
    
    .logo-in {
        font-weight: 600;
        /* color: #888888; */
    }
    
    .nav-icons {
        gap: .8rem;
    }
    
    .nav-icon {
        font-size: 32px;
    }
    
    .nav-icon:hover {
        background-color: ;
    }
    
    .carousel-img {
        width: 350px;
    }