    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Square+Peg&display=swap');
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Vazir', sans-serif;
    }
    
     :root {
        --primaryColor: #4A148C;
        --mainWhite: #fff;
        --mainBlack: #000;
        --mainGreen: #f8faf9;
        --mainBlue: #f8f9fb;
        --mainGray: #7d7d7d;
    }
    
    header {
        position: fixed;
        z-index: 20;
        top: 0;
    }
    
    .logo {
        font-size: 1.9em;
        font-weight: 500;
        font-family: Open Sans;
    }
    
    .logo-in {
        font-weight: 600;
        /* color: #888888; */
    }
    
    .nav-icons {
        gap: 1rem;
    }
    
    .nav-icon {
        font-size: 32px;
    }
    
    .nav-icon:hover {
        background-color: var(--mainBlack);
    }
    
    .menu-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }
    
    .menu-btn__burger {
        width: 30px;
        height: 2px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
        background-color: #000;
    }
    
    .menu-btn__burger::before,
    .menu-btn__burger::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 2px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
        background-color: #000;
    }
    
    .menu-btn__burger::before {
        transform: translateY(-10px);
    }
    
    .menu-btn__burger::after {
        transform: translateY(10px);
    }
    /* Animation */
    
    .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }
    
    .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }
    
    .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }
    
    .carousel-img {
        width: 350px;
    }